.searchForm form{
  padding:20px;
}
.searchForm form input{padding:10px; margin-right:5px; margin-bottom:30px; border:none; border-bottom:1px solid green;}
.searchForm form input::placeholder{ color: green;}
.searchForm form input[type=submit]{background:white; border:2px solid green; color:green;}

.logo{padding:50px 20px 10px 20px; color:cornsilk; background: green; }

.recipeTitle{font-size:20px; padding:10px 0; font-weight:600; vertical-align:bottom;}
.recipeBox{padding:15px; border:10px solid white; background: cornsilk;}
